<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Pinterest-clone</title>
</head>
<body>
    <h1>Create Pin</h1>
    
    <!-- Manière conventionnel de faire un formulaire mais symfony peut faire mieux

    <form method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" name="title" id="title" required>  {#required est utilisé pour pouvoir demander obligatoirement un titre avant de post#}
        </div>

        <div>
            <label for="title">Description</label><br>
            <textarea id = "description" name="description" rows="5" cols="50" required></textarea>
        </div>

        <input type="submit" value="Create Pin">
    </form>
    -->
    {#Peu utile car par de bouton comme on l'a supprimer dans le formulaire envoyer en argument#}
    {#{{ form(monFormulaire) }} {#Fonction twig pour convertir un formulaire en string #}

    {#Manière plus agréable à faire :#}
    {{form_start(monFormulaire)}} {#Début du formulaire#}
        {{ form_widget(monFormulaire)}}  {#Champs demander pour la création du formulaire#}

        <input type="submit" value="Create Pin"> {#boutton appartenant au formulaire pour la requete#}
    {{form_end(monFormulaire)}} {#Fin du formulaire#}

</body>
</html>